@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}

<div class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home")
    @if (controller.ToString() != "Home")
    {
        @:> @Html.ActionLink(controller.ToString(), "Index", controller.ToString())
    }
    @if (action.ToString() != "Index")
    {
        @:> @Html.ActionLink(action.ToString(), action.ToString(), controller.ToString())
    }
    
</div>