@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

<div class="breadcrumb">
    @Html.ActionLink("Home", "Profile", "Home")
    @if (controller != "Home")
    {
        @:> @Html.ActionLink(controller, "Index", controller)
    }
    @if (action != "Index")
    {
        @:> @Html.ActionLink(action, action, controller)
    }
    
</div>