<ul style="list-style-type:none">
    <li class="user-header">
        <input type="text" id="username" placeholder="username" />
        <input type="password" id="password" placeholder="password" />
        <div>
            <button class="btn-default btn btn-flat" id="login-btn">Login</button>
        </div>
        <p id="msg" class="login-box-msg"></p>
    </li>
</ul>

<script>
    $("#login-btn").on("click", function () {
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url: "/Account/_login",
            data: { Username: username, Password: password },
            dataType: "json",
            type: "POST",
            success: function (data) {
                var msg = $("#msg");
                if (data.success) {
                    window.location.reload();
                } else {
                    msg.html(data.message).show();
                    $("#user-menu").addClass("open");
                }
                return false;
            }
        })
    });
</script>
