@model string
@inject IDataContextFactory<SeniorDataContext> dbFactory

@{
    var db = dbFactory.Create();
    var maxMessage = 10;
    var num = 0;
    var messages = db.GetLastMessages(db.Messages, Model, ref num, maxMessage);
}

<a id="id-message-toggle" href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    @if (num != 0)
    {
        <span class="label label-danger">
            @num 
            @if(num > maxMessage)
            {
                @:+
            }
        </span>
    }
</a>
@if (messages.Length != 0)
{
    <ul id="id-message-drop" class="dropdown-menu" style="box-shadow: black 0px 0px 2px">
        <li class="header">Hai @num messaggi non letti</li>
        <li>
            <!-- Inner Menu: contains the messages -->
            <ul class="menu">
                @foreach (var message in messages)
                {
                    if(message != null)
                    {
                        <li>
                            <!-- start notification -->
                            <a id="message-@message.Id" @if(message.Seen != default) {<text>class= "bg-gray"</text>} href="/Message/@message.Username">
                                <i class="fa text-light-blue">@message.Time</i><br />
                                @message.Body
                            </a>
                        </li>
                        <!-- end message -->
                    }
                }
            </ul>
        </li>
        <!-- <li class="footer"><a href="#">View all</a></li> -->
    </ul>
}