@inject IHttpContextAccessor HttpContextAccessor

@{ 
    string session = HttpContextAccessor.HttpContext.Session.GetString("username");
}

<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        @if (session != null)
        {
            <!--
            Scheletro di una roba sopra per le notifiche e messaggi e robe in piu...
            <li class="dropdown ??-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-??-o"></i>
                    <span class="label label-??">??</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">??</li>
                    <li>
                        <ul class="menu">
                            <li>Elements Here</li>
                            <a href="#">
                                <div class="pull-left">
                                    <img src="~/AdminLTE-2.4.3/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                </div>
                                <h4>
                                    Support Team
                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
            -->
            <li class="dropdown messages-menu">
                @{ await Html.RenderPartialAsync("Messages", session); }
            </li>
            <li class="dropdown notifications-menu">
                @{ await Html.RenderPartialAsync("Notifications", session); }
            </li>
            <li id="user-menu" class="dropdown user user-menu">
                @{ await Html.RenderPartialAsync("Logout", session); }
            </li>

            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        }
    </ul>
</div>