<!--
pg di registering
    se gia loggato reindirizza al profilo(ancora da fare)
logo sito
    disattivare l-aside e le opzioni
se non loggato deve tornare qua
-->
@model string
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Hello Razor";
    string session = HttpContextAccessor.HttpContext.Session.GetString("username");
}

<div class="content">
    @if (session == null)
    {
        @if (Model != null)
        {
            <p class="text-red box-title">Per poter accedere alla pagina [@Model] e' necessario essere loggati</p>
        }

        <div class="login-box">
            @{ await Html.RenderPartialAsync("Login"); }
        </div>
        <div class="login-box">
            @{ await Html.RenderPartialAsync("Register"); }
        </div>

    }
    else
    {
        await Html.RenderPartialAsync("Profile");
    }
</div>
