<ul style="list-style: none">
    <li class="user-header">
        <input type="text" id="regUsername" placeholder="Username" required />
        <input type="text" id="regName" placeholder="Name" />
        <input type="text" id="regLastname" placeholder="Lastname" />
        <input type="password" id="regPassword" placeholder="Password" required />
        <input type="email" id="regEmail" placeholder="Email" required />
        <input type="text" id="regDoctor" placeholder="Doctor only (543210)" />
        <input type="text" id="passwQues" placeholder="Domanda di sicurezza" required />
        <input type="text" id="passwAnsw" placeholder="Risposta di sicurezza" required />
        <div>
            <button class="btn-default btn btn-flat" id="register-btn">Register</button>
        </div>
        <p id="msg-reg" class="login-box-msg"></p>
    </li>
</ul>

@Html.ActionLink("Oppure fai il login", "Login")

<script>
    $("#register-btn").on("click", function () {
        var username = $("#regUsername").val();
        var name = $("#regName").val();
        var lastname = $("#regLastname").val();
        var password = $("#regPassword").val();
        var email = $("#regEmail").val();
        var code = $("#regDoctor").val();

        var quest = $("#passwQues").val();
        var answ = $("#passwAnsw").val();

        $.ajax({
            url: "/Account/_register",
            data: {
                Code: code,
                User: {
                    Username: username,
                    Name: name,
                    Lastname: lastname,
                    Password: password,
                    Email: email
                },
                Forgot: {
                    Question: quest,
                    Answer: answ
                }
            },
            dataType: "json",
            type: "POST",
            success: function (data) {
                var msg = $("#msg-reg");
                if (data.success) {
                    window.location.reload();
                } else {
                    msg.html(data.message).show();
                }
            },
            error: function (xhr, status, error) {
                alert(error)
            }
        })
    });
</script>